# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.env.local
Back_end/.env
Back_end/.env.local

# Jupyter
.ipynb_checkpoints/

# Reports & generated assets
Data/Data_store/**
Data/Report_export/**

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/


*.mp4
*.pdf
!**/requirements.txt
# Allow specific large files to be tracked by Git LFS
!Demo video.mp4
!Report_VIC.pdf
